# Forecasting sales of agriculture products <h3>(Supply & Demand Analysis)</h3>

### **Exploratory Data Analysis and Data Prepration :**
During the comprehensive explorartory data analysis, we made the following observations:

In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#load sales and indices combined data
combined_sales_ind = pd.read_csv(r"data\combined_sales_ind.csv",parse_dates=['Time'], index_col='Time')

# displaying data
display(combined_sales_ind)

#Size of data - Sales and 25 Indices
print(combined_sales_ind.shape)

,Sales,livestock1,livestock2,livestock3,livestock4,livestock5,livestock6,corn1,corn2,corn3,...,FarmIncome,Non-ResidentialInvest,HOUST,RealGDP,Unemploy,Interest_US,ConsumerInflt,30YearMtggRate,ConstructionEm,ConsumerConfidenceI
Time,,,,,,,,,,,,,,,,,,,,,
1990-01-31,505,NaN,79.06,NaN,NaN,NaN,NaN,239.83,229.41,2.31,...,46.26,NaN,1551.0,8947.1,5.4,10.11,1.28,9.90,5.42,106.5
1990-02-28,467,NaN,79.04,NaN,NaN,NaN,NaN,241.59,234.97,2.32,...,46.26,NaN,1437.0,8947.1,5.3,10.00,1.28,10.20,5.42,106.7
1990-03-31,467,NaN,79.16,NaN,NaN,NaN,NaN,250.58,244.68,2.37,...,46.26,NaN,1289.0,8947.1,5.2,10.00,1.29,10.27,5.39,110.6
1990-04-30,593,NaN,79.89,NaN,NaN,NaN,NaN,273.49,263.98,2.51,...,46.26,NaN,1248.0,8981.7,5.4,10.00,1.29,10.37,5.36,107.3
1990-05-31,866,NaN,78.28,NaN,NaN,NaN,NaN,284.34,273.86,2.62,...,46.26,NaN,1212.0,8981.7,5.4,10.00,1.29,10.48,5.32,107.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-31,102,0.80,116.55,116.91,151.20,48.12,47.38,323.04,307.93,3.21,...,65.86,2192.5,1164.0,16727.0,4.9,3.50,2.40,3.44,6.70,101.8
2016-09-30,200,0.78,106.08,106.22,138.38,43.36,42.83,328.90,320.25,3.22,...,65.86,2192.5,1052.0,16727.0,4.9,3.50,2.41,3.46,6.73,103.5
2016-10-31,611,0.71,100.37,101.76,121.82,37.07,30.84,349.49,326.23,3.29,...,65.86,2197.2,1320.0,16813.3,4.8,3.50,2.42,3.47,6.74,100.8
2016-11-30,205,0.76,106.77,106.23,131.47,34.45,27.33,344.98,335.11,3.23,...,65.86,2197.2,1149.0,16813.3,4.6,3.50,2.42,3.77,6.77,109.4
2016-12-31,328,0.84,113.37,115.24,131.13,39.45,24.48,349.68,334.24,3.33,...,65.86,2197.2,1275.0,16813.3,4.7,3.64,2.43,4.20,6.78,113.3

(324, 36)

### Load data description file:

In [3]:
# load dictionary file
Indices_description = pd.ExcelFile(r"data\Dictionary.xlsx")
Indices_dsc = pd.read_excel(r"data\Dictionary.xlsx")
# Looking at the sheets avaialble in excel file
print(Indices_description.sheet_names)

['Dictionary']

In [4]:
Indices_dsc.head()

,Indices_Name,Description,Indices_type
0,livestock1,"Broilers, Composite Average, Spot Price - Unit...",Commodity Prices
1,livestock2,"Live FOB Basis, Beef Breeds, Steers, 65% to 80...",Commodity Prices
2,livestock3,"Cattle Prices, Steers, Choice, 11-13 Centum We...",Commodity Prices
3,livestock4,"Feeder Cattle, Steers, Medium No. 1, 600-650 ...",Commodity Prices
4,livestock5,"Hog Prices, Barrows and Gilts, 6 Markets ($/CWT)",Commodity Prices

In [5]:
# Creating a dictionary of sheets in workbook
Indices_dict = {sheet: Indices_description.parse(sheet) for sheet in Indices_description.sheet_names}

In [6]:
# Extracting the Dictionary sheet from the workbook
Indices_desc = Indices_dict['Dictionary']
print(type(Indices_desc))
print(Indices_desc.shape)
display(Indices_desc)

<class 'pandas.core.frame.DataFrame'>
(35, 3)

,Indices_Name,Description,Indices_type
0,livestock1,"Broilers, Composite Average, Spot Price - Unit...",Commodity Prices
1,livestock2,"Live FOB Basis, Beef Breeds, Steers, 65% to 80...",Commodity Prices
2,livestock3,"Cattle Prices, Steers, Choice, 11-13 Centum We...",Commodity Prices
3,livestock4,"Feeder Cattle, Steers, Medium No. 1, 600-650 ...",Commodity Prices
4,livestock5,"Hog Prices, Barrows and Gilts, 6 Markets ($/CWT)",Commodity Prices
5,livestock6,"Hog Prices, Sows, No. 1-3 - Iowa/South Minneso...",Commodity Prices
6,corn1,"Corn Futures, 1st Expiration Nearby, Settlemen...",Commodity Prices
7,corn2,North Central and South Central Illinois Corn ...,Commodity Prices
8,corn3,"Producer Prices Received, Field Crops, Corn ($...",Commodity Prices
9,corn4,"Corn, No. 2 Yellow, Gulf Ports, US ($/bu)",Commodity Prices
10,wheat1,"Chicago Terminal Grain Report, SRW Wheat (cent...",Commodity Prices
11,wheat2,"Chicago SRW Wheat Futures, 1st Expiration Nea...",Commodity Prices
12,wheat3,"Kansas City Daily HRW Wheat, Ordinary Protein,...",Commodity Prices
13,wheat4,"Producer Prices Received, Field Crops, Wheat, ...",Commodity Prices
14,wheat5,"No. 1 hard red winter (ordinary protein), Texa...",Commodity Prices
15,hay1,"HAY - PRICE RECEIVED, MEASURED IN $ / TON",Commodity Prices
16,hay2,"HAY, ALFALFA - PRICE RECEIVED, MEASURED IN $ /...",Commodity Prices
17,dairy1,"NASS WHEY, DRY, HUMAN - PRICE RECEIVED, MEASUR...",Commodity Prices
18,dairy2,"NASS MILK, DRY, NONFAT, HUMAN - PRICE RECEIVED...",Commodity Prices
19,dairy3,Class II Milk ($/CWT),Commodity Prices
20,dairy4,Class III Milk ($/CWT),Commodity Prices
21,dairy5,Class IV Milk ($/CWT),Commodity Prices
22,dairy6,"Producer Prices Received, Dairy, Milk, All ($/...",Commodity Prices
23,BRLCSPOT.D7,"Commodities, Foods, Broilers, Composite Averag...",Commodity Prices
24,STRTXOK.D7,"Commodities, Foods, Live FOB Basis, Beef Breed...",Commodity Prices
25,FarmIncome,US Net Farm Income (Billion $),Economic indices
26,Non-ResidentialInvest,Non-Residential Investment: National Income an...,Economic indices
27,HOUST,Total Housing Starts (mil): Housing and Constr...,Economic indices
28,RealGDP,Real GDP (bil): National Income and Production...,Economic indices
29,Unemploy,"Civilian Unemployment Rate (%): United States,...",Economic indices
30,Interest_US,Prime Interest Rate (%): PRIME RATE CHARGED BY...,Economic indices
31,ConsumerInflt,"Consumer Price Inflation: Prices, Consumer Pri...",Economic indices
32,30YearMtggRate,Fixed Rate 30 Year Mortgage Rate (%): AVG CONV...,Economic indices
33,ConstructionEm,"Construction Employment (mil): Labor Market, E...",Economic indices
34,ConsumerConfidenceI,Consumer Confidence Index: Survey and Diffusio...,Economic indices

**Notes from the Indices description:**

1. Indices are classified into two types: commodity prices(25) and economic indices (10)
2. Because the labels of some commodity price indices are either generic or too particular, they can be modified for better analysis.

In [7]:
# Creating a dictionary for new column names
new_column_names = {"livestock1" : "livestock1_broilers","livestock2" : "livestock2_beef_steers",
                   "livestock3" : "livestock3_steers","livestock4" : "livestock4_steers","livestock5" : "livestock5_hog",
                   "livestock6" : "livestock6_hog","BRLCSPOT.D7" : "BRLCS_broilers","STRTXOK.D7" : "STRTXOK_beef_steers" }

# Rename Columns
clean_combined_sales_ind = combined_sales_ind.rename(columns = new_column_names)
display(clean_combined_sales_ind.head())

,Sales,livestock1_broilers,livestock2_beef_steers,livestock3_steers,livestock4_steers,livestock5_hog,livestock6_hog,corn1,corn2,corn3,...,FarmIncome,Non-ResidentialInvest,HOUST,RealGDP,Unemploy,Interest_US,ConsumerInflt,30YearMtggRate,ConstructionEm,ConsumerConfidenceI
Time,,,,,,,,,,,,,,,,,,,,,
1990-01-31,505,NaN,79.06,NaN,NaN,NaN,NaN,239.83,229.41,2.31,...,46.26,NaN,1551.0,8947.1,5.4,10.11,1.28,9.90,5.42,106.5
1990-02-28,467,NaN,79.04,NaN,NaN,NaN,NaN,241.59,234.97,2.32,...,46.26,NaN,1437.0,8947.1,5.3,10.00,1.28,10.20,5.42,106.7
1990-03-31,467,NaN,79.16,NaN,NaN,NaN,NaN,250.58,244.68,2.37,...,46.26,NaN,1289.0,8947.1,5.2,10.00,1.29,10.27,5.39,110.6
1990-04-30,593,NaN,79.89,NaN,NaN,NaN,NaN,273.49,263.98,2.51,...,46.26,NaN,1248.0,8981.7,5.4,10.00,1.29,10.37,5.36,107.3
1990-05-31,866,NaN,78.28,NaN,NaN,NaN,NaN,284.34,273.86,2.62,...,46.26,NaN,1212.0,8981.7,5.4,10.00,1.29,10.48,5.32,107.3

In [8]:
#Checking datatypes of columns
clean_combined_sales_ind.dtypes

Sales                       int64
livestock1_broilers       float64
livestock2_beef_steers    float64
livestock3_steers         float64
livestock4_steers         float64
livestock5_hog            float64
livestock6_hog            float64
corn1                     float64
corn2                     float64
corn3                     float64
corn4                     float64
wheat1                    float64
wheat2                    float64
wheat3                    float64
wheat4                    float64
wheat5                    float64
hay1                      float64
hay2                      float64
dairy1                    float64
dairy2                    float64
dairy3                    float64
dairy4                    float64
dairy5                    float64
dairy6                    float64
BRLCS_broilers            float64
STRTXOK_beef_steers       float64
FarmIncome                float64
Non-ResidentialInvest     float64
HOUST                     float64
RealGDP                   float64
Unemploy                  float64
Interest_US               float64
ConsumerInflt             float64
30YearMtggRate            float64
ConstructionEm            float64
ConsumerConfidenceI       float64
dtype: object